* {
  padding: 0px;
  margin: 0px;
}

.side_col {
  position: fixed;
  top: 3.5rem;
  left: 0;
  width: 4.4rem;
  height: 100vh;
  overflow: hidden;
 
  background-color: #1f1f1f;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.home_icon,
.subscription,
.user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;  
  padding: 0.8rem 0;
  cursor: pointer;

}

.home_icon img,
.subscription img,
.user_profile img {
  height: 1.7rem;
  width: 1.7rem;
}

.home_icon span,
.subscription span,
.user_profile span {
  font-size: 14px;
  margin-top: 0.5rem;
  text-align: center;
  color: white;
}


.home_icon:hover,
.subscription:hover,
.user_profile:hover {
  background-color: rgb(95, 95, 95);
  border-radius: 8px; 
}


.content{
  margin: 100px;
}


.container{
  background:#f9f9f9;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.large-container{
  padding-left: 7%;
}

