.feedH {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.flex .img-pro {
  height: 32px;
  width: 32px;
}
.card,
.cardD {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}
.truncate {
  font-size: 100px;
}

.card:hover,
.cardD:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.thumbnail-container {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: rgb(17, 16, 16);
}

.thumbnail-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
}

.card-content,
.card-contentD {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.card-content {
  background: rgba(148, 147, 147, 0.3);
}

.card-contentD {
  background: #111010;
}

.card h2,
.cardD h2,
.card h3,
.cardD h3 {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h2,
.cardD h2 {
  font-size: 16px;
  color: inherit;
}

.card h3,
.cardD h3 {
  font-size: 14px;
  color: inherit;
}

.card p,
.cardD p {
  font-size: 13px;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading,
.no-more {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin: 20px 0;
}

.img-pro {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 13px;
}

.flex {
  display: flex;
}

.Width-det {
  width: 301px;
}

@media (max-width: 2597px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 23px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: #111010;
  }

  .card h2,
  .cardD h2,
  .card h3,
  .cardD h3 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card h2,
  .cardD h2 {
    font-size: 16px;
    color: inherit;
  }

  .card h3,
  .cardD h3 {
    font-size: 14px;
    color: inherit;
  }

  .card p,
  .cardD p {
    font-size: 13px;
    color: inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .loading,
  .no-more {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin: 20px 0;
  }

  .img-pro {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 13px;
  }

  .flex {
    display: flex;
  }
}

@media (max-width: 2100px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 21px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 1951px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 1581px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 1470px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 28px;
    width: 28px;
    margin-right: 11px;
  }
  .Width-det{
    margin-right: -10px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}
@media (max-width: 1395px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -20px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}
@media (max-width: 1352px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -40px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 1280px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -40px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}
@media (max-width: 1269px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -40px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 938px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -40px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 863px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -450px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 692px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -450px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 616px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }

  .video-duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .flex .img-pro {
    height: 24px;
    width: 24px;
    margin-right: 11px;
    margin-top: 10px;
  }
  .Width-det{
    margin-right: -450px;
  }

  .card-content,
  .card-contentD {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .card-content {
    background: rgba(148, 147, 147, 0.3);
  }

  .card-contentD {
    background: hsl(0, 3%, 6%);
  }
}

@media (max-width: 549px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .video-duration { 
    font-size: 14px;
  }

  .flex .img-pro {
    height: 30px;
    width: 30px;
    margin-right: 11px;
    margin-top: 4px;
  }
  .Width-det{
    margin-right: 0px;
  }
}

@media (max-width: 445px) {
  .feedH {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .video-duration { 
    font-size: 12px;
  }

  .flex .img-pro {
    height: 30px;
    width: 30px;
    margin-right: 11px;
    margin-top: 4px;
  }
  .Width-det{
    margin-right: -100px;
  }
}
