.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin-top: 20px;
  padding: 0 10px;
}

.dark {
  background-color: #111010;
}

.card {
  width: 100%;
  background: #111010;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.cardD {
  width: 100%;
  background: #111010;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.cardD:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.thumbnail-container {
  height: 200px; /* Fixed height */
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardD img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-contentD {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  background:#111010;
  
}
.card-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  background:rgb(255, 255, 255);
}

.card h2,
.card h3,
.card p {
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardD h2,
.cardD h3,
.cardD p {
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h2 {
  font-weight: bold;
  color: #222;
}

.card h3 {
  color: #666;
}

.card p {
  color: #888;
}
.cardD h2 {
  font-weight: bold;
  color: #ffffff;
}

.cardD h3 {
  color: #b3a8a8;
}

.cardD p {
  color: #ffffff;
}
.loading,
.no-more {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin: 20px 0;
}
