.input-label input:-webkit-autofill,
.input-label input:-webkit-autofill:hover,
.input-label input:-webkit-autofill:focus,
.input-label input:-webkit-autofill:active {
  background-color: transparent !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

* {
  margin: 0px;
  padding: 0px;
  color: #ababab;
}

.Auth_main {
  display: flex;
  height: 100vh;
  background-color: #fff;
}
.left_main_image_div {
  height: 100vh;
  width: 50%;
  background-image: url("../assets/LEFT_IMG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.black_overlayer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: inherit;
  z-index: 1;
}
.auth_quote {
  z-index: 2;
  position: absolute;
  top: 85%;
  left: 2%;
  width: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.quote_owner {
  z-index: 2;
  position: absolute;
  margin-top: 1%;
  left: 4%;
  width: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
}

.right_side_auth {
  min-height: 100vh;
  max-height: 100vh;
  width: 50%;
  background-color: #1a1a1a;
}

.logo_col {
  height: 15%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2;
  background-color: #1f1f1f;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.brandName {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: #f5f5f5;
  margin-top: 1%;
}

.register_user_title {
  width: inherit;
  text-align: center;
  color: #f5f5f5;
  margin-top: 3%;
  font-size: 40px;
}

.para {
  color: #ababab;
}
.acc_exist > a {
  text-decoration: none;
}

.acc_exist > a:hover {
  text-decoration: underline;
}

.acc_exist {
  display: flex;
  justify-content: center;
  gap: 6px;
  font-size: 1.1rem;
}

.link-para {
  color: rgba(255, 255, 0, 0.4);
}
.all-input-box {
  min-height: inherit;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  overflow: hidden;
}

.label-name {
  color: #ababab;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-label {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  padding: 10px;
  background-color: #1f1f1f;
  margin-bottom: 2%;
}

.input-label input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 8px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: darkred;
}
