.comment-options {
  position: absolute;
  margin-left: 34px;
  margin-top: -23px;
  background-color: #1e1e1e; /* Dark gray background */
  border: 1px solid #333; /* Slightly lighter border */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow for depth */
  border-radius: 5px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  z-index: 10;
}

.option-btn {
  background: none;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: #ddd; /* Light gray text */
}

.option-btn:hover {
  background-color: #292929; /* Slightly lighter on hover */
  color: #fff; /* White text on hover */
}
